includes:
    - %currentWorkingDirectory%/.build/vendor/phpstan/phpstan-strict-rules/rules.neon
    - %currentWorkingDirectory%/.build/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - %currentWorkingDirectory%/.build/vendor/phpstan/phpstan-phpunit/extension.neon
    - %currentWorkingDirectory%/.build/vendor/phpstan/phpstan-phpunit/rules.neon
    - %currentWorkingDirectory%/phpstan-baseline.neon

parameters:
    # PHPStan's strictest mode.
    level: max

    # PHP 8.2 as minimum target.
    phpVersion: 80200

    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/templates
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/webconsole.php

    excludePaths:
        - %currentWorkingDirectory%/.build/*
