parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property object\:\:\$errorMessages\.$#'
			identifier: property.notFound
			count: 1
			path: webconsole.php

		-
			message: '#^Access to an undefined property object\:\:\$jsonrpc\.$#'
			identifier: property.notFound
			count: 1
			path: webconsole.php

		-
			message: '#^Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics\.$#'
			identifier: arrayFilter.strict
			count: 2
			path: webconsole.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 2
			path: webconsole.php

		-
			message: '#^Call to function is_object\(\) with object will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: webconsole.php

		-
			message: '#^Casting to string something that''s already string\.$#'
			identifier: cast.useless
			count: 3
			path: webconsole.php

		-
			message: '#^Comparison operation "\>\=" between 0 and 1 is always false\.$#'
			identifier: greaterOrEqual.alwaysFalse
			count: 1
			path: webconsole.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 10
			path: webconsole.php

		-
			message: '#^Function execute_command\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Function execute_command\(\) has parameter \$command with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function get_hash\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Function get_hash\(\) has parameter \$algorithm with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function get_hash\(\) has parameter \$string with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function is_empty_string\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Function is_empty_string\(\) has parameter \$string with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function is_equal_strings\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Function is_equal_strings\(\) has parameter \$string1 with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function is_equal_strings\(\) has parameter \$string2 with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function parse_command\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Function parse_command\(\) has parameter \$command with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function verify_credential\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Function verify_credential\(\) has parameter \$input with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function verify_credential\(\) has parameter \$legacy_algorithm with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Function verify_credential\(\) has parameter \$stored with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: webconsole.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: webconsole.php

		-
			message: '#^Left side of \|\| is always false\.$#'
			identifier: booleanOr.leftAlwaysFalse
			count: 1
			path: webconsole.php

		-
			message: '#^Loose comparison via "\!\=" is not allowed\.$#'
			identifier: notEqual.notAllowed
			count: 5
			path: webconsole.php

		-
			message: '#^Loose comparison via "\=\=" is not allowed\.$#'
			identifier: equal.notAllowed
			count: 6
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:Execute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:getDocDescription\(\) has parameter \$comment with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:getError\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:getRequest\(\) should return int but returns int\|null\.$#'
			identifier: return.type
			count: 1
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:getServiceMap\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:processCall\(\) has parameter \$call with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:processCall\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:resetVars\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method BaseJsonRpcServer\:\:validateCall\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:authenticate_token\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:authenticate_token\(\) has parameter \$token with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:authenticate_user\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:authenticate_user\(\) has parameter \$password with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:authenticate_user\(\) has parameter \$user with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:cd\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:cd\(\) has parameter \$environment with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:cd\(\) has parameter \$path with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:cd\(\) has parameter \$token with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:completion\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:completion\(\) has parameter \$command with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:completion\(\) has parameter \$environment with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:completion\(\) has parameter \$pattern with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:completion\(\) has parameter \$token with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:error\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:error\(\) has parameter \$message with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:error\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:get_environment\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:get_home_directory\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:get_home_directory\(\) has parameter \$user with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:initialize\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:initialize\(\) has parameter \$environment with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:initialize\(\) has parameter \$token with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:login\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:login\(\) has parameter \$password with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:login\(\) has parameter \$user with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:run\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:run\(\) has parameter \$command with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:run\(\) has parameter \$environment with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:run\(\) has parameter \$token with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:set_environment\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: webconsole.php

		-
			message: '#^Method WebConsoleRPCServer\:\:set_environment\(\) has parameter \$environment with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: webconsole.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in &&, string given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in &&, string given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 3
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, int\|string given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, string given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in an if condition, array\|null given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in an if condition, int given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in an if condition, int\<0, max\>\|false given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in an if condition, int\|false given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in an if condition, int\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in an if condition, object\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in an if condition, string given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: webconsole.php

		-
			message: '#^Only booleans are allowed in an if condition, string\|null given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: webconsole.php

		-
			message: '#^PHPDoc tag @var has invalid value \(\$params array\)\: Unexpected token "\$params", expected type at offset 9 on line 1$#'
			identifier: phpDoc.parseError
			count: 1
			path: webconsole.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: webconsole.php

		-
			message: '#^Parameter \#2 \$subject of function preg_match_all expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: webconsole.php

		-
			message: '#^Parameter \#3 \$data of method BaseJsonRpcServer\:\:getError\(\) expects null, string given\.$#'
			identifier: argument.type
			count: 1
			path: webconsole.php

		-
			message: '#^Parameter \#3 \$length of function substr expects int\|null, int\<0, max\>\|false given\.$#'
			identifier: argument.type
			count: 2
			path: webconsole.php

		-
			message: '#^Property BaseJsonRpcServer\:\:\$calls type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Property BaseJsonRpcServer\:\:\$errorMessages type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Property BaseJsonRpcServer\:\:\$hiddenMethods type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Property BaseJsonRpcServer\:\:\$request type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Property BaseJsonRpcServer\:\:\$response type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: webconsole.php

		-
			message: '#^Property WebConsoleRPCServer\:\:\$home_directory has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: webconsole.php

		-
			message: '#^Result of && is always true\.$#'
			identifier: booleanAnd.alwaysTrue
			count: 1
			path: webconsole.php

		-
			message: '#^Right side of && is always false\.$#'
			identifier: booleanAnd.rightAlwaysFalse
			count: 2
			path: webconsole.php

		-
			message: '#^Ternary operator condition is always false\.$#'
			identifier: ternary.alwaysFalse
			count: 2
			path: webconsole.php

		-
			message: '#^Variable \$ACCOUNTS in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: webconsole.php

		-
			message: '#^Variable \$HOME_DIRECTORY in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: webconsole.php

		-
			message: '#^Variable \$NO_LOGIN in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: webconsole.php

		-
			message: '#^Variable \$PASSWORD in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: webconsole.php

		-
			message: '#^Variable \$PASSWORD_HASH_ALGORITHM in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: webconsole.php

		-
			message: '#^Variable \$USER in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: webconsole.php

		-
			message: '#^Variable property access on object\.$#'
			identifier: property.dynamicName
			count: 1
			path: webconsole.php
